[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/timoren (timoren)
[access "refs/for/refs/*"]
	read = group user/timoren (timoren)
	push = group user/timoren (timoren)
	label-Code-Review = -2..+2 group user/timoren (timoren)
	label-Verified = -1..+1 group user/timoren (timoren)
	rebase = group user/timoren (timoren)
	removeReviewer = group user/timoren (timoren)
	submit = group user/timoren (timoren)
[access "refs/heads/*"]
	read = group user/timoren (timoren)
	create = group user/timoren (timoren)
	push = +force group user/timoren (timoren)
	pushMerge = group user/timoren (timoren)
[access "refs/tags/*"]
	push = group user/timoren (timoren)
	push = +force group user/timoren (timoren)
[project]
	description = Homework
