[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/timoren
[access "refs/for/refs/*"]
	read = group user/timoren
	push = group user/timoren
	label-Code-Review = -2..+2 group user/timoren
	label-Verified = -1..+1 group user/timoren
	rebase = group user/timoren
	removeReviewer = group user/timoren
	submit = group user/timoren
[access "refs/heads/*"]
	read = group user/timoren
	create = group user/timoren
	push = +force group user/timoren
	pushMerge = group user/timoren
[access "refs/tags/*"]
	push = group user/timoren
	push = +force group user/timoren
